<!DOCTYPE html>
<html>
    <head>
        <title>{{ designation }}</title>
    </head>
<body>
<ul>
    <li>batiment {{ salle.batiment }}</li>
    <li>etage {{ salle.etage }}</li>
    <li>numero {{ salle.numero }}</li>
</ul>
</body>
</html>